@model MemberLoginViewModel
@using (Html.BeginForm("Login", "Members", FormMethod.Post, new { id = "logsignform", @class = "needs-validation", novalidate = "true" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    //mail
    <div class="maillog logmethod form-group">
        @Html.LabelFor(model => model.Email, new { @class = "maillabel", @for = "email" })<br>
        @Html.TextBoxFor(model => model.Email, null, new { @class = "emailinput ellipsis form-control", id = "email", name = "email", placeholder = "Please enter your email", required = "required" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", style = "font-size:14px" })
    </div>

    //password
    <div class="form-group">
        @Html.LabelFor(model => model.Password, new { @for = "password", @class = "passTitle" })<br>
        @Html.PasswordFor(model => model.Password, new { @class = "passwordinput ellipsis form-control", id = "password", name = "password", placeholder = "Please enter your password", required = "required" })
        <input type="button" class="passwordshow passwordshowLogin" value="show">
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", style = "font-size:14px" })
    </div>

    <a href="/Members/ForgetPwd" id="forgetpass">Forget your password?</a>

    <input type="submit" class="btn btn-secondary loginbutton" id="loginbutton" value="Log In">
}
