@model DetailViewModel

@{
    Layout = "~/Views/Shared/_Layout_DetailMobileNoFooter.cshtml";
    HttpCookie cookie = HttpContext.Current.Request.Cookies.Get(FormsAuthentication.FormsCookieName);

    string userid = "";
    string avatar = "";
    if (cookie != null)
    {
        FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(cookie.Value);

        var obj = Json.Decode<Members>(ticket.UserData);
        userid = obj.MemberId.ToString();

        avatar = obj.ProfilePicture;

    }
}
@section topCSS{

    <link href="~/Assets/css/detail_r2.css" rel="stylesheet" />
    <style>

    .game-backdrop{
    background-image: url('@Model.GameBackdrop');
    }
    .main-profile-img {
        background-image: url('@Model.PlayerPic');
    }
    </style>

}
@section topJS{
    <script>
        var userid = '@userid';
    </script>
}

<div class="container game-backdrop">
    <div class="row">
        <div class="col-12 col-md-9">
            <div class="detail-header detail-title">
                <h1 class="heading1">@Model.GameName</h1>
                <div class="price-header">
                    <img src="~/Assets/images/detail/currency.png" />
                    <span class="game-price">@Model.UnitPrice.ToString("N2")</span>/Game
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="detail-header">
                <div class="header-btns">
                    @if (userid == "")
                    {
                        <button type="button" class="btn-play" onclick="promptLogin()">Play</button>
                    }
                    else
                    {
                        <button type="button" class="btn-play" id="playButton" data-bs-toggle="modal" data-bs-target="#playModal">Play</button>
                    }
                    <button type="button" class="btn-purp">Chat</button>
                </div>
            </div>
        </div>
    </div>
    <!-- REVIEW, INFO, PROFILE -->
    <div class="row reverse">
        <div class="col-12 col-md-3 col-lg-3">
            <div class="row main-profile-row">
                <div class="col-6 col-md-12">
                    <div class="main-profile main-profile-img"></div>
                </div>
                <div class="col-6 col-md-12">
                    <div class="main-profile basic-info">
                        <h2 class="name heading2">@Model.MemberName</h2>
                        <div class="language">
                            <span class="language-label">Language: </span>@Model.LanguageName
                        </div>
                        <div class="status">ONLINE</div>
                    </div>
                </div>
            </div>
            <div class="row stick">
                <div class="col-12">
                    <div class="booking">
                        <p class="greyish">Book this ePal for</p>
                        <div class="ppg">
                            <img src="~/Assets/images/detail/currency.png" />
                            <div class="game-price">@Model.UnitPrice.ToString("N2")</div>
                            /Game
                        </div>
                        <div class="ppg-btns">
                            @if (userid == "")
                            {
                                <button type="button" class="btn-play" onclick="promptLogin()">Play</button>
                            }
                            else
                            {
                                <button type="button" class="btn-play" id="playButton" data-bs-toggle="modal" data-bs-target="#playModal">Play</button>
                            }
                            <button type="button" class="btn-purp">Chat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-9 col-lg-9">
            <div class="row">
                <div class="game-screenshot">
                    <img src="@Model.GameScreenshot" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="details">
                        <div class="details-heading">
                            <img src="~/Assets/images/detail/details.png" />
                            <div class="whitish">Details</div>
                        </div>

                        <div class="detail-entry">
                            <div class="detail-name rank whitish">Rank</div>
                            <div class="detail-value greyish">@Model.RankName</div>

                        </div>
                        <div class="detail-entry">
                            <div class="detail-name server whitish">Server(s)</div>
                            <div class="detail-value greyish">@Model.ServerName</div>
                        </div>
                        <div class="detail-entry">
                            <div class="detail-name platform whitish">Platform(s)</div>
                            <div class="detail-value greyish">PC</div>
                        </div>
                        <div class="introduction whitish">
                            Introduction
                        </div>
                        <div class="intro-text greyish">
                            @Model.Intro
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="availability">

                        <table>
                            <thead>
                                <tr>
                                    <td>
                                        <img src="~/Assets/images/detail/availability.png" />
                                        <div class="whitish">Availabilty</div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Availability)
                                {
                                    <tr>
                                        <td class="whitish">@item.AvailDay</td>
                                        <td class="greyish">
                                            @item.Start - @item.End
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        @* fix *@

        <div class="modal fade" id="playModal" tabindex="-1" aria-labelledby="playModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="playModalLabel">Confirm Order</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    @using (Html.BeginForm())
                    {
                        var prod = Model;
                        @Html.AntiForgeryToken()
                        <div class="modal-body">
                            <div class="container whitish">
                                <div class="row">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="col-3 ">
                                        <div class="game-img">
                                            <img src="@Model.MobileGameImg" />
                                        </div>
                                    </div>
                                    <div class="col-9 ">
                                        <div class="game-user-price">
                                            <div class="game-name">@prod.GameName</div>
                                            <div class="player-name">@prod.MemberName</div>
                                            <div class="price-per-game">
                                                <img src="~/Assets/images/detail/currency.png" />
                                                <span id="price">@prod.UnitPrice.ToString("N2")</span>
                                                @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", @Value = Model.UnitPrice, type = "hidden" } })
                                                /Game
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="rounds">
                                                <span>@Html.LabelFor(x => x.Rounds)</span>
                                                <div class="rounds-div">
                                                    <button type="button" class="round-subtract"><span>-</span></button>
                                                    @Html.EditorFor(x => x.Rounds, new { htmlAttributes = new { @class = "round-number", Value = "1", onfocus = "setOldVal(this.value)", onkeyup = "PriceChange(undefined, this.value)" } })
                                                    @Html.ValidationMessageFor(x => x.Rounds, "", new { @class = "text-danger" })
                                                    <button type="button" class="round-add"><span>+</span></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="start-time-div">
                                                <span>Start Time</span>
                                                <div class="start-time-settings">
                                                    <input type="datetime-local" id="start-time" name="startTime" class="whitish" onblur="DateCheck(this.value)">
                                                    <button type="button" class="time-now"><span>Now</span></button>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="subtotal-div">
                                            <span>Subtotal</span>
                                            <div class="subtotal-div2">
                                                <img src="~/Assets/images/detail/currency.png" />
                                                <span class="subtotal">@Model.UnitPrice.ToString("N2")</span>
                                            </div>
                                        </div>

                                        <div class="promo-code-div">
                                            <span>Promo code</span>
                                            <div class="enter-code">
                                                <input placeholder="Enter your promo code" type="text" disabled>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="final-price-div">
                                            <span>Final Price</span>
                                            <div class="final-price">

                                                <span class="rounds-final">1</span> Round(s) total
                                                <img src="~/Assets/images/detail/currency.png" />
                                                <span class="final-amount">@Model.UnitPrice.ToString("N2")</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-cancel" data-bs-dismiss="modal">Close</button>
                            <button class="btn-purp btn-confirm">Confirm</button>
                        </div>
                    }
                </div>


            </div>
        </div>


    </div>
</div>


<div class="div whitespace"></div>




@section endJS{

    <script src="~/Assets/js/detail.js"></script>
    <script>
        @*let loginBtn = document.getElementById('loginmodal');
        var userid = '@userid';
        if (userid == "") {
            //loginBtn.

                }*@


    </script>

}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


